main {
  overflow: scroll;
  height: 100vh;
}

.search-box {
  padding-top: 5rem;
  height: 25rem;
  background-image: url("/recipes/food2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.search-container {
  max-width: 800px;
}


#search-header {
  padding-bottom: 2rem;
  color: white;
}

#info {
  border-bottom: 1px solid gray;
  background-color: rgba(0,0,0,0.35);
  font-size: 0.8rem;
  color: #AAAAAA;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#info a {
  color: #BBBBBB;
}


#recipes {
  padding-top: 1rem;
}

#saved-recipes-header-text {
  margin-bottom: 0;
  flex-grow: 1;
}

#saved-recipes-container {
  position: absolute;
  bottom: 0;
  right: 8em;
  width: 20rem;
}

#saved-recipes-header {
  color: white;
  background-color: #0d6efd;
  border-radius: 0.5rem 0.5rem 0 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
}

#saved-recipes {
  text-align: center;
  background-color:white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  overflow: scroll;
  height: auto;
}

.recipe-list-item {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 4px 4px 4px 4px;
}

.add-button {
  border: 1px solid gray;
  margin-left: 1em
}

#shopping-list-button {
  border: 1px solid gray;
}
